.top-section {
	min-height: 800px;
	background-color: blue;
	color: white;
}

.destaque-section {
	
}

.indicators-section {
	min-height: 600px;
}

.featured-section {
	min-height: 600px;
}

.middle-section {
	background-color: white;
	min-height: 1000px;
}

.mid-sec-top {
	background-color: blue;
	min-height: 80px;
	padding-top: 50px;
}

.big-card {
	background-color: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.card-top {	
	min-height: 50px;
	border-top: 1px solid gray;
	border-radius: 15px 15px 0 0;
}

.card-bottom {
	min-height: 30px;
	border-bottom: 1px solid gray;
	border-radius: 0 0 15px 15px;
}

.bottom-section {
	min-height: 300px;
	background-color: black;
}