.top-section {
	/*min-height: 800px;*/
	min-height: 700px;
	color: white;
	position: relative;
}

.top-section::before {
	content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
  height: 100%;
	/*background-color: #045dff;*/
	/*background: linear-gradient(180deg, rgba(0,60,214,1) 35%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(70,87,248,1) 35%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(53,77,236,1) 35%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,88,249,1) 35%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,83,243,1) 35%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,51,209,1) 0%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,60,220,1) 0%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,0,133,1) 0%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,0,130,1) 0%, rgba(0,22,157,1) 5%, rgba(0,40,185,1) 15%, rgba(0,50,199,1) 25%, rgba(0,83,243,1) 75%, rgba(4,93,255,1) 100%);*/

	background: rgb(0,0,130);
	background: -moz-linear-gradient(180deg, rgba(0,0,130,1) 0%, rgba(0,22,157,1) 5%, rgba(0,40,185,1) 15%, rgba(0,50,199,1) 25%, rgba(0,83,243,1) 75%, rgba(4,93,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,0,130,1) 0%, rgba(0,22,157,1) 5%, rgba(0,40,185,1) 15%, rgba(0,50,199,1) 25%, rgba(0,83,243,1) 75%, rgba(4,93,255,1) 100%);
	background: linear-gradient(180deg, rgba(0,0,130,1) 0%, rgba(0,22,157,1) 5%, rgba(0,40,185,1) 15%, rgba(0,50,199,1) 25%, rgba(0,83,243,1) 75%, rgba(4,93,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000082",endColorstr="#045dff",GradientType=1);
	z-index: -1;
}

.top-section::after {
	content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/nyc.jpg");
	background-position: center;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity : 0.1;
  z-index: -1;
}

header {
	min-height: 85px;
	padding-top: 15px;
}

nav {
	/*text-align: center;*/
	display: flex;
	align-items: center;
}

.site-logo {
	font-size: 32px;
	margin-top: 10px;
}

.destaque-section {
	margin-top: 80px;
}

.destaque-section h1 {
	font-size: 56px;
}

.destaque-section p {
	margin-top: 40px;
	font-size: 24px;
	font-weight: lighter;
}

.indicators-section {
	min-height: 230px;
}

.featured-section {
	/*min-height: 450px;*/
}

.featured-section-first {
	/*min-height: 360px;*/
}

.featured-section-divider {
	margin-left: 8%;
	margin-right: 8%;
	border-bottom: 1px solid #dfdfdf;
	margin-top: 60px;
	margin-bottom: 60px;
}

.middle-section {
	background-color: white;
	min-height: 1000px;
}

.mid-sec-top {
	/*background-color: #045dff;*/
	background-color: #1d6dff;
	/*min-height: 80px;
	padding-top: 50px;*/
}

.big-card {
	background-color: white;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

.card-top {
	min-height: 80px;
	border-top: 1px solid #fceadc;
	border-radius: 15px 15px 0 0;
}

.card-bottom {
	min-height: 30px;
	border-bottom: 1px solid #fceadc;
	border-radius: 0 0 15px 15px;
}

footer {
	margin-top: 110px;
}

.btn-header {
	color: white;
	border: 1px solid white;
}

.btn-header:hover, .btn-header:focus {
	/*background-color: #0459f5;*/
	background-color: #00289f;
	border-color: white;
}

.btn-header:active {
	background-color: #001f95 !important;
	border-color: white !important;
}

.menu {
	text-align: center;
}

.menu-link, .menu-link:hover, .menu-link:active, .menu-link:visited {
	color: white;
	text-decoration: none;
}

.menu-link:hover {
	color: #e2e2e2;
}

.header-divider {
	/*border-bottom: 2px solid #1767fe;*/
	border-bottom: 2px solid #2f43c6;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
}

.btn-destaque-download {
	margin-top: 45px;
	min-height: 60px;
	min-width: 200px;
	border-radius: 30px;
	background-color: #70fe84;
	border-color: #70fe84;
	color: #1c762c;
	font-size: 16px;
}

.btn-destaque-download:hover,  .btn-destaque-download:focus{
	background-color: #5ff077;
	border-color: #5ff077;
	color: #1c762c;
}

.btn-destaque-download:active {
	background-color: #4ee169;
	border-color: #4ee169;
}

.featured-section-first img {
	margin-top: -25px;
}

.featured-section img {
	max-height: 330px;
	max-width: 100%;
}

.featured-section h2 {
	margin-top: 10%;
}

.featured-section-first h2 {
	margin-top: 5%;
}

.featured-section p {
	margin-top: 10%;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 200px;
	background-color: #101650;
	background: rgb(48,40,152);
	background: linear-gradient(90deg, rgba(48,40,152,1) 0%, rgba(35,32,121,1) 36%, rgba(26,28,103,1) 67%, rgba(32,28,108,1) 100%);
	color: white;
}

.footer-title {
	font-weight: 600;
	margin-bottom: 20px;
}

.footer-item, .footer-item a, .footer-item a:hover, .footer-item a:visited, .footer-item a:active {
	color: #7d78d4;
	text-decoration: none;
}

.footer-item a:hover {
	color: #6764bd;
}


.coder-copyright {
	margin-top: 50px;
	margin-bottom: 5px;
	color: #5756ac;
}

.coder-link, .coder-link:hover, .coder-link:active, .coder-link:visited {
	color: #5756ac;
	text-decoration: none;
}

.coder-link:hover {
	color: #7d78d4;
}

.chart {
	max-height: 400px;
	opacity: 0.5;
}

@media only screen and (min-width: 768px) {
	.menu {
		margin-top: 15px;
	}

	.my-col-md-1dot5 {
		flex: 0 0 14%;
		max-width: 14%;
	}

	.my-offset-md-2dot5-percent {
		margin-left: 2.5%;
	}

	.my-margin-left-md-90 {
		margin-left: 90px;
	}

	.featured-section {
		max-height: 360px;
	}
}
